//-top(index.jade), page(faq.jade)
p.m0.head.
  やぶれかぶれになつた賭博狂のやうにいろいろの本を開いて行つた。<br>
  が、なぜかどの本も必ず文章か挿し画かの中に多少の針を隠してゐた。
div#faq-accordion.container
  div.panel
    h3.tle-q(
        id="faq-q01"
        data-toggle="collapse"
        data-parent="#faq-accordion"
        data-target="#faq-a01"
        aria-expanded="false"
      ) どの本も？――僕は何度も読み返した「マダム・ボヴアリイ」を手にとつた時さへ、
    div(
        id="faq-a01"
        class="collapse"
      )
      p.
        畢竟僕自身も中産階級のムツシウ・ボヴアリイに外ならないのを感じた。<br>
        ……日の暮に近い丸善の二階には僕の外に客もないらしかつた。<br>
        僕は電燈の光の中に書棚の間をさまよつて行つた。<br>
        それから「宗教」と云ふ札を掲げた書棚の前に足を休め、緑いろの表紙をした一冊の本へ目を通した。
  div.panel
    h3.tle-q(
        id="faq-q02"
        data-toggle="collapse"
        data-parent="#faq-accordion"
        data-target="#faq-a02"
        aria-expanded="false"
      ) この本は目次の第何章かに「恐しい四つの敵、――疑惑、恐怖、驕慢、官能的欲望」と云ふ言葉を並べてゐた。
    div(
        id="faq-a02"
        class="collapse"
      )
      p.
        僕はかう云ふ言葉を見るが早いか、一層反抗的精神の起るのを感じた。<br>
        それ等の敵と呼ばれるものは少くとも僕には感受性や理智の異名に外ならなかつた。<br>
        が、伝統的精神もやはり近代的精神のやうにやはり僕を不幸にするのは愈僕にはたまらなかつた。
  div.panel
    h3.tle-q(
        id="faq-q03"
        data-toggle="collapse"
        data-parent="#faq-accordion"
        data-target="#faq-a03"
        aria-expanded="false"
      ) 僕はこの本を手にしたまま、ふといつかペン・ネエムに用ひた
    div(
        id="faq-a03"
        class="collapse"
      )
      p.
        「寿陵余子」と云ふ言葉を思ひ出した。<br>
        それは邯鄲の歩みを学ばないうちに寿陵の歩みを忘れてしまひ、蛇行匍匐して帰郷したと云ふ「韓非子」中の青年だつた。<br>
        今日の僕は誰の目にも「寿陵余子」であるのに違ひなかつた。
  div.panel
    h3.tle-q(
        id="faq-q04"
        data-toggle="collapse"
        data-parent="#faq-accordion"
        data-target="#faq-a04"
        aria-expanded="false"
      ) しかしまだ地獄へ堕ちなかつた僕も
    div(
        id="faq-a04"
        class="collapse"
      )
      p.
        このペン・ネエムを用ひてゐたことは、――僕は大きい書棚を後ろに努めて妄想を払ふやうにし、丁度僕の向うにあつたポスタアの展覧室へはひつて行つた。<br>
        が、そこにも一枚のポスタアの中には聖ヂヨオヂらしい騎士が一人翼のある竜を刺し殺してゐた。<br>
        しかもその騎士は兜の下に僕の敵の一人に近いしかめ面を半ば露してゐた。
  div.panel
    h3.tle-q(
        id="faq-q05"
        data-toggle="collapse"
        data-parent="#faq-accordion"
        data-target="#faq-a05"
        aria-expanded="false"
      ) 僕は又「韓非子」の中の屠竜の技の話を思ひ出し、
    div(
        id="faq-a05"
        class="collapse"
      )
      p.
        展覧室へ通りぬけずに幅の広い階段を下つて行つた。<br>
        僕はもう夜になつた日本橋通りを歩きながら、屠竜と云ふ言葉を考へつづけた。
  div.panel
    h3.tle-q(
        id="faq-q06"
        data-toggle="collapse"
        data-parent="#faq-accordion"
        data-target="#faq-a06"
        aria-expanded="false"
      ) それは又僕の持つてゐる硯の銘にも違ひなかつた。
    div(
        id="faq-a06"
        class="collapse"
      )
      p.
        この硯を僕に贈つたのは或若い事業家だつた。<br>
        彼はいろいろの事業に失敗した揚句、とうとう去年の暮に破産してしまつた。<br>
        僕は高い空を見上げ、無数の星の光の中にどのくらゐこの地球の小さいかと云ふことを、――従つてどのくらゐ僕自身の小さいかと云ふことを考へようとした。
  div.panel
    h3.tle-q(
        id="faq-q07"
        data-toggle="collapse"
        data-parent="#faq-accordion"
        data-target="#faq-a07"
        aria-expanded="false"
      ) しかし昼間は晴れてゐた空もいつかもうすつかり曇つてゐた。
    div(
        id="faq-a07"
        class="collapse"
      )
      p.
        僕は突然何ものかの僕に敵意を持つてゐるのを感じ、電車線路の向うにある或カツフエへ避難することにした。